.photo-container {
  display: flex;
  flex-wrap: wrap;
}

.photo {
  height: calc(100vh - 50px);
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #efefef;
}

.photo img {
  /* width: 100%;
  height: auto; */
  height: 90%;
  width: auto;
}

.photo-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author {
  color: #888;
  margin-left: 20px;
}

.like-btn {
  color: #888;
  padding: 5px 10px;
  background-color: #e7e7e7;
  border: #ccc 1px solid;
  margin-right: 10px;
  border-radius: 5px;
}

.like-btn:hover {
  cursor: pointer;
}

.liked-photo {
  background-color: rgb(205, 219, 221);
}